/* @media screen and (min-width: 606px) {
  h1 {
    font-size: 2.8em;
    font-weight: 900;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

h2 {
  display: flex;
  box-sizing: inherit;
  padding: 0px;
  font-size: 2rem;
  margin-top: 16px;
  margin-left: 0px;
}

@media screen and (min-width: 606px) {
  p {
    font-size: 1.25rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 0.9em;
    font-weight: 400;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.left-side {
  max-width: 100%;
  text-align: left;
  line-height: 1.5;
  width: 100%;
  position: relative;
}

.hero-img {
  padding: 5em;
  position: relative;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/react-project/src/mr_hero_bg.jpg");
  background-repeat: no-repeat !important;
  background-size: cover;
  height: auto;
  background-position: center;

  max-width: 100%;
  text-align: left;
  line-height: 1.5;
  width: 100%;
  position: relative;
} */

.reload {
  transition: width 2s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

.reload:hover {
  width: 300px;
}
