.footer-icon .icon:hover {
    background-color: white;
} 

.fdiv{
    width: 100%;
    height: 3px;
}

.iconcol{
    display: flex;
    justify-content: end;
}
 @media  (max-width: 768px) {
    .footer-content{
        font-size: 8px;
    }
    .footer-icon{
        font-size: 6px;
    }
 }