@media (min-width: 767px) {
  .all-container {
    padding: 2rem;
  }
}

@media (max-width: 767px) {
  .all-container {
    padding: 1rem;
  }
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000; /* Set your background color */
  z-index: 1000; /* Adjust as needed */
}

.loading {
  /* Optional: Add styles to hide main content during loading */
  opacity: 0.6;
}
