@media only screen and (max-width: 991px) {
  /* Add styles for screens less than 991px */
  .navbar-brand {
    margin-top: 3rem; /* Adjust the margin based on your design */
  }
}

.nav-link:hover {
  color: rgb(0, 255, 42);
}

.active {
  color: #ffcc33;
}
